dark=#292929

*
  box-sizing border-box

a
  text-decoration none

body
  margin 0
  font-family Roboto
  font-weight 300
  background-image url('bg.jpg')
  background-size cover
  color dark
  display flex
  justify-content center
  align-items center
  min-height 100vh

.holder
  width 100%
  max-width 25em

  @media all and (max-width: 768px)
    font-size .75em

.name
  color white
  font-size 2.2em
  width 5.5em
  margin-bottom .5em
  line-height 1.1em

.box
  font-size 1.5em
  padding 1.25em
  background white
  position relative

  img
    position absolute
    top -4em
    right 1em
    transform rotate(7deg)
    width 6em

  & > div:nth-child(1)
    font-weight bold
    font-size 1.5em
    line-height .95em

svg
  width 5em
  margin 1em .85em

  path
    fill dark
    transition all .75s

a:hover svg.github path
  fill #f34f29

a:hover svg.twitter path
  fill #28a9e0